<% if signed_in? %>
	<h3>Add Comment</h3>
	<%= form_for([@post, @post.comments.build]) do |f| %>
		

		<p>
			<%= f.label :body %><br>
			<%= f.text_area(:body, {:class => 'form-control'}) %>	
		</p>

		<p>
			<%= f.submit({:class => 'btn btn-primary'}) %>
		</p>
	<% end %>
<% else %>
	<h5>Must be logged in to add comments </h5>
<% end %>
