<br>
<h1>Social Network</h1>
<div id = "news">
      <p>
      <center>
        <a class="twitter-timeline" data-width="1000" data-height="700" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/social_team_b/lists/news">A Twitter List by EOS04426417</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </center>
    </p>
</div>
<% @posts.each do |post| %>
	<div class="well">
		<div class="container">
			<h3><%= post.title %></h3>
			<p><%= post.body %></p>
			<%= link_to "Read more", post_path(post), :class =>
				'btn btn-light' %>
		</div>
<% end %>